{% extends "base.html" %}

{% block content %}
{% if game %}
    <h1>Players</h1>
    <ul class="nav nav-list">
        {% for p in players %}
            <li><h2>
                <a href='/users/{{p.user.username}}'>{{p.user.first_name}}</a>
                </h2>
            </li>
        {% endfor %}
    </ul>
    
    <a class="btn btn-primary" href='/refresh_round/{{game.id}}/{{player_number}}'> Refresh round {{player_round_number}} / {{game_round_number}}</a>

    {% if your_turn %}
        <h2>SUA VEZ</h2>
    {% else %}
        <h2>NAO É SUA VEZ</h2>
    {% endif %}
    
    {% if my_last_round %}
        <h2>Agora vc vai ver o ultimo round q vc nao viu</h2>
    {% else %}
        <h2>Voce ta no ultimo round</h2>
    {% endif %}
    
    
    {% for p in players %}    
        <h2>{{p.user.first_name}} Cards:</h2>
        <ul>
        {% for c in p.card_set.all %}
            {% if c.order == p.last_round %}
                <li><p>
                    <h3>Carta da vez!</h3>
                    <img src="{{c.pic_square}}" />
                    <a href=''>{{c.name}}</a>
                    {% for attr in c.attribute_set.all %}
                    {% if your_turn %}
                    <a class="btn btn-primary" href='/solve_round/{{game.id}}/{{attr.name}}'>{{attr.name}}: {{attr.attr}}</a>
                    {% else %}
                    <p>{{attr.name}}: {{attr.attr}}</p>
                    {% endif %}
                    {% endfor %}
                </p></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
{% endblock %}
